.equipo{
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    position: relative;
}
.equipo__titulo{
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid;
    display: inline-block;
    padding: 10px;
}

.colaboradores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.input__color{
    position: absolute;
    right: 50px;
    top: 15px;
}