.lista-opciones label{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-bottom: 8px;
}

.lista-opciones select{
    padding: 30px 20px;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    outline-color: #6278F7;
    font-size: 16px;
}